<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap" rel="stylesheet">

    <title>Thanh toán thất bại</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="header.css" />
  </head>
  <body>
    <!-- HEADER -->
    <nav class="header">
      <div class="logo" style="align-items: center; justify-content: center;">
        <img src="ebook1.jpg" style="width:100px; height:100px"/>
      </div>
      <div class="book-store">
        <strong href="/" style="font-size:40px; text-decoration: none; font-family: Be Vietnam Pro; color: #6655ff;">Cửa hàng sách Ebook</strong>
      </div>
    </nav>

    <div class="main-box" style="background-color: #fff;background-image: url(https://payos.vn/wp-content/uploads/sites/13/2023/11/Bg-Hd.svg)" >
      <div>
        <img style="margin-top: 100px; height: 20%; width: 100%;" src="x.png" alt="" />
      </div>

      <div class="main-box" style = "margin-top: -600px">
        <h4 class="payment-titlte" style="font-family: Be VietNam Pro; font-size: 35px">
          Thanh toán thất bại.
        </h4>
        <p style="font-family: Be VietNam Pro; font-size: 15px">
          Nếu có bất kỳ câu hỏi nào, hãy gửi email tới
          <a href="mailto:support@payos.vn">support@payos.vn</a>
        </p>
        <a href="/" id="return-page-btn" style="font-family: Be VietNam Pro; font-size: 15px; text-decoration: none">Trở về trang Tạo Link thanh toán</a>
      </div>
    <script src="script.js"></script>
  </body>
</html>
