<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap" rel="stylesheet">

    <title>Bí mật của may mắn - Ebook store</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="header.css" />
  </head>
  <body>
    <!-- HEADER -->
    <nav class="header">
      <div class="logo" style="align-items: center; justify-content: center;">
        <img src="ebook1.jpg" style="width:100px; height:100px"/>
      </div>
      <div class="book-store">
        <strong href="/" style="font-size:40px; text-decoration: none; font-family: Be Vietnam Pro; color: #6655ff;">Cửa hàng sách Ebook</strong>
      </div>
    </nav>

    <!-- MAIN CONTENT -->
    <div class="main-box" style="background-color: #fff;background-image: url(https://payos.vn/wp-content/uploads/sites/13/2023/11/Bg-Hd.svg)" >

      <!-- CONTAINER -->
      <div class="container" style="display:flex height-400px width-400px; background-color: #fff; padding: 40px 40px 40px 40px; border-radius: 20px;">
        <!-- IMAGE -->
        <div class="ebook" style="align-items: center; justify-content: center; display:flex">
          <img src="assets/ebook.webp" alt="" />
        </div>

        <!-- INFO -->
        <div>
          
          <div class="checkout">
            <div class="name-product">
              <span style="font-family: Be VietNam Pro; color: #6655ff;font-size: 30px">
                <strong>BÍ MẬT CỦA MAY MẮN - EBOOK VERSION</strong>
              </span>
            </div>
            <div class="product">
              <!-- <img src="assets/ebook.webp" alt="" /> -->
              <p style="font-family: Be VietNam Pro"><strong>Mô tả:</strong> Cuốn sách làm bừng sáng cả thế giới</p>
              <p style="font-family: Be VietNam Pro"><strong>Giá tiền:</strong> 2000 </p>
              <p style="font-family: Be VietNam Pro"><strong>Số lượng:</strong> 1</p>
            </div>
            <form action="/create-payment-link" method="post" style="display:flex; align-items: center; justify-content: center;" >
              <button type="submit" id="create-payment-link-btn">
                <strong style="font-family: Be VietNam Pro">Tạo Link thanh toán</strong>
              </button>
            </form>
          </div>
        </div>
      </div>
      
    </div>
  </body>
</html>
